.login {
  background-image: linear-gradient(to bottom right, #f48882,  #c6fad2);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 300px;
    background: rgba(#fff, 0.2);
  }

  &__form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      text-transform: capitalize;
    }

    input {
      height: 30px;
      font-size: 16px;
      border: 1px solid black;
      color: #f48882;
      outline: none !important;

      &:hover {
        border-color: #f48882;
      }

      &:focus {
        border-color: #f48882;
      }
    }

    p {
      margin: 0;
      min-height: 20px;
      color: red;
    }

    &:last-of-type {
      p {
        min-height: 65px;
      }
    }
  }

  &__form-button {
    $button-color: #f48882;
    margin-top: 20px;
    height: 40px;
    background-color: $button-color;
    color: whitesmoke;
    border: none;
    font-size: 16px;
    outline: none !important;
    cursor: pointer;

    &:not(&--disabled):active {
      background-color: darken($button-color, 10%);
    }

    &--disabled {
      background-color: lighten($button-color, 10%);
      cursor: default;
    }
  }
}
