@import "./src/styles/variables";

.chat {
  display: flex;
  min-height: $fullHeight;
}

.empty-conversation-view {
  position: sticky;
  top: 0;
  background-image: $ChatBackground;
  height: $browserHeight;
  width: $fullWidth;
  display: flex;
  align-items: center;
  justify-content: center;
}
