@import "./src/styles/variables";

.profile {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: $SelectedConversationViewHeader;
  color: $defaultColor;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.modal-overlay {
  background-color: rgba($inverseColor, 0.8);
  position: fixed;
  width: $fullWidth;
  height: $fullHeight;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    position: relative;
    height: 500px;
    width: 400px;
    background-color: $defaultColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    Button {
      width: 100px;
      //position: absolute;
      bottom: 0;
      margin-bottom: $gutter * 2;
    }
  }
}

.profile-details {
  display: flex;
  justify-content: center;
  height: $fullWidth;

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
}
