@import "../../styles/Variables";

.profile {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: $SelectedConversationViewHeader;
  color: $defaultColor;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.modal-overlay {
  background-color: rgba($inverseColor, 0.8);
  position: fixed;
  width: $fullWidth;
  height: $fullHeight;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    position: relative;
    height: 500px;
    width: 400px;
    background-color: $defaultColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      padding-bottom: $halfGutter;
      border-bottom: 3px solid $SelectedConversationViewHeader;
    }

    Button {
      width: 100px;
      bottom: 0;
      margin-bottom: $gutter * 2;

      &:first-child {
        margin-right: $halfGutter;
      }

      &:last-child {
        background-color: $defaultColor;
        color: $inverseColor;
        border: 1px solid $inverseColor;
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      display: flex;
    }
  }
}

.profile-details {
  display: flex;
  justify-content: center;
  height: $fullWidth;

  &__form, &__read-mode {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
}
