$fullHeight: 100%;
$fullWidth: 100%;
$browserHeight: 100vh;

$ChatBackground: linear-gradient(to bottom right, #f48882, #c6fad2);

$defaultColor: #fff;
$inverseColor: #000;
$controlColor: #f48882;
$errorColor: red;

$SelectedConversationViewBackground: seashell;
$SelectedConversationViewHeader: rebeccapurple;
$MyMessage: orangered;
$FriendMessage: #c6fad2;
$SelectedConversationViewPadding: 0 200px;

$gutter: 20px;
$halfGutter: $gutter / 2;
$quartGutter: $gutter / 3;

$fontSizeLg: 20px;
$fontSizeMd: 16px;


