@import "./src/styles/Variables";

.input-field {
  display: flex;
  flex-direction: column;

  label {
    text-transform: capitalize;
  }

  input {
    height: 30px;
    font-size: $fontSizeMd;
    border: 1px solid black;
    color: $controlColor;
    outline: none;
    border-radius: 5px;

    &:hover {
      border-color: $controlColor;
    }

    &:focus {
      border-color: $controlColor;
    }
  }

  p {
    margin: 0;
    min-height: 20px;
    color: $errorColor;
  }

  &:last-of-type {
    p {
      min-height: 65px;
    }
  }
}
