@import "./src/styles/Variables";

.button {
  margin-top: $gutter;
  height: 40px;
  background-color: $controlColor;
  color: whitesmoke;
  border: none;
  font-size: $fontSizeMd;
  outline: none !important;
  cursor: pointer;

  &:not(&--disabled):active {
    background-color: darken($controlColor, 10%);
  }

  &--disabled {
    background-color: lighten($controlColor, 10%);
    cursor: default;
  }
}
